<h1 mat-dialog-title>
    plan details
</h1>

<mat-dialog-content>
    <div class="content">
  <mat-form-field>
    <mat-label>plan description</mat-label>
    <textarea #desc matInput [(ngModel)]="description" (input)="updateSaveButtonDisabled()" class="description"></textarea>
  </mat-form-field>
  
  <input class="input-file" #file type="file" accept='image/*' (change)="preview(file.files)" />
  <button mat-raised-button color="basic" class="choose-button"  (click)="file.click()" cdkFocusInitial>Choose Cover</button>
  <img [src]="imgURL" class="preview" *ngIf="imgURL">

</div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="action-button" (click)="onCancel()">cancel</button>
  <button *ngIf="!isUpdate" mat-button class="action-button" (click)="onPost()" cdkFocusInitial [disabled]="saveDisabled">post</button>
  <button *ngIf="isUpdate" mat-button class="action-button" (click)="onPost()" cdkFocusInitial [disabled]="saveDisabled">update</button>
</mat-dialog-actions>


